{% extends 'base.html' %}

{% block title%}Register for an Account{% endblock %}

{% block body %}

Please input your information below.

<form action="newuser" method="POST">
    <label>First Name
        <input type="text" name="fname" placeholder="First Name" required>
    </label>
    <br>
    <label>Last Name
        <input type="text" name="lname" placeholder="Last Name" required>
    </label>
    <br>
    <label>Email
        <input type="email" name="email" placeholder="Email" required>
    </label>
    <br>
    <label>Zip Code
        <input type="text" name="zipcode" placeholder="Zip Code" 
         pattern="\d{5,5}">
    </label>
    <br>
    <label>Age
        <input type="text" name="age" placeholder="Age" pattern="\d{1,3}">
    </label>
    <br>
    <label>Password
        <input type="password" name="password" placeholder="Something Secret!" required>
    </label>
    <br>
    <input type="submit" value="Register">
</form>

{% endblock %}